<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
  <meta charset="utf-8">
  <title>COVID-19 Travel</title>
</head>

  <body>
    <div class="container" id="app">
      <h3 class="text-center">COVID-19 Travel Stats</h3>
      <p class="text-center" v-if="error">
        {{ error }}
      </p>
      <div class="columns medium-4" v-for="(result, index) in results">
        <div class="card">
          <div class="card-divider">
            <p> {{ index }} </p>
          </div>
          <div class="card-section" v-for="(value, key) in result">
            <p>{{ key }}: {{ value }}</p>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@3.0.5"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="vueApp.js"></script>
  </body>
</html>